.container {
  height: 250px;
  border-top: 3px solid #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  padding: 50px;
}

.title {
  font-weight: 400;
  color: #ffffff;
  background-color: #008000;
  padding: 5px;
  width: 325px;
}

.linkTitle {
  text-decoration: underline;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkText {
  margin-right: 20px;
}

.cardLg {
  flex: 2;
}

.cardSm {
  flex: 1;
}

.cardItem {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    flex-direction: column;
  }

  .title,
  .linkTitle {
    font-size: 30px;
    text-align: center;
  }

  .cardItem {
    text-align: center;
    font-size: 15px;
  }
}
